# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [51]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep = '\t')

### Step 4. How many products cost more than $10.00?

In [85]:
chipo.query('item_price > 10').item_name.nunique()

31

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [59]:
chipo_filtered = chipo.drop_duplicates(['item_name','quantity'])
price_per_item = chipo_one_prod[['item_name', 'item_price']]
price_per_item.sort_values(by = "item_price", ascending = False).head(20)

                  item_name item_price
92       Steak Crispy Tacos     $9.25
554   Carnitas Crispy Tacos     $9.25
237     Carnitas Soft Tacos     $9.25
56      Barbacoa Soft Tacos     $9.25
8          Steak Soft Tacos     $9.25
21         Barbacoa Burrito     $8.99
664             Steak Salad     $8.99
54               Steak Bowl     $8.99
33            Carnitas Bowl     $8.99
27         Carnitas Burrito     $8.99
3750         Carnitas Salad     $8.99
12       Chicken Soft Tacos     $8.75
11     Chicken Crispy Tacos     $8.75
44       Chicken Salad Bowl     $8.75
16          Chicken Burrito     $8.49
1694           Veggie Salad     $8.49
1653    Veggie Crispy Tacos     $8.49
1414                  Salad     $7.40
673                    Bowl     $7.40
520            Crispy Tacos     $7.40

### Step 6. Sort by the name of the item

In [54]:
chipo.sort_values(by = 'item_name')

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],$12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],$6.49
1849,749,1,6 Pack Soft Drink,[Coke],$6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],$6.49
2713,1076,1,6 Pack Soft Drink,[Coke],$6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",$8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [73]:
chipo.sort_values(by = "item_price", ascending = False).head(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [74]:
salad_bowl = chipo[chipo.item_name == "Veggie Salad Bowl"]
len(salad_bowl)

18

### Step 9. How many times did someone order more than one Canned Soda?

In [75]:
Drink_cannned_soda = chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)]

len(Drink_cannned_soda)

20